<h1>Confirming your user account </h1><br>
<p>
Dear <h2>{{ partner.name}} {{ partner.firstname}},</h2><br>

Thank you for registering on <strong>The Recrut</strong>! We are delighted to welcome you to our dynamic community of recruiters.<br><br>

Please note this link is valid until <strong>{{ lifeTimeToken }} </strong> after this date it will no longer be valid. <br><br>
To complete your registration, please click on the confirmation link below: <br><br>


<strong><a href="http://localhost:5173/check-email-verification/{{token}}/{{user.id}}">Confirm registration.</a></strong><br><br>

By clicking on this link, you will activate your account and have access to all the features of <strong>The Recrut</strong>. <br><br>

If you have not initiated this registration, please ignore this message. <br><br>

We look forward to supporting you in your recruitment and providing you with an exceptional experience on our platform. <br><br>


Welcome aboard !
<br><br>
Sincerely,<br><br>
The Recrut team

</p>